@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap");

/* keyframes */
@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes color-change {
  0% {
    color: #1f2020;
  }
  20% {
    color: #25282a;
  }
  40% {
    color: #a5282c;
  }
  60% {
    color: #5eb0e5;
  }
  80% {
    color: #ebebe3;
  }
  100% {
    color: #f9f6ef;
  }
}
 
/* fundamentals */
* {
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;
  color: #1f2020;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7; /* cannot combine*/
}

/* fundamentals again */
html {
  scroll-behavior: smooth;
}
body,
.container,
header,
div.logo,
nav,
ul {
  margin: 0;
  /*-- annoying margin at top --- */
}

/* fundamentals again again */
body {
  padding: 0;
  background-color: #f3d060;
}
.container {
  width: min(120ch, calc(100% - 2rem));
  margin: 0 auto;
}
/* spinner */
.spinner {
  background-color: #a5282c !important;
  color: #a5282c !important;
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  border-radius: 50%;
  border: 4px solid #25282a;
  border-top-color: #f3d060;
  transform-origin: center center;
  animation: spinner 1s linear infinite;
}
/* button */
.btn {
  position: relative;
  border: 2px solid #1f2020;
  border-radius: 3px;
  box-shadow: 3px 3px 0px #25282a;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  transition: 200ms ease;
  z-index: 2;
  background-color: #5eb0e5;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn:active {
  box-shadow: -2px -2px 0px #25282a;
  transform: translate(2px, 2px);
}
.btn.hover-effect::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1f2020;
  transform-origin: bottom right;
  transition: 100ms ease-in-out;
  mix-blend-mode: screen;
  z-index: 1;
  clip-path: ellipse(0px 0px at bottom center);
}
.btn.hover-effect:hover:before {
  clip-path: ellipse(50% 100% at bottom center);
}
.btn.hover-effect:active:before {
  background-color: #25282a;
  mix-blend-mode: color-dodge;
}
.btn-primary {
  background-color: #aee1cd;
}
.btn-del {
  background-color: #a5282c;
  color: #f9f6ef;
}
/* links */
a {
  cursor: pointer;
}
/* images */
img {
  width: 100%;
}
/* container */
.container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo */
.logo {
  padding: 0.5rem;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: -0.15em;
  color: transparent;
  background-color: #f3d060;
  background-size: 2px 2px;
  background-image: repeating-linear-gradient(
    45deg,
    #1f2020 0,
    #1f2020 0.5px,
    #f3d060 0,
    #f3d060 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #1f2020;
}
.logo:first-letter {
  color: #a5282c;
}
/* header navbar */
nav ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #a5282c;
  text-underline-offset: 2px;
  color: #1f2020;
  font-size: 1rem;
}
/* dialog box */
dialog {
  transition: 300ms ease-in-out, clip-path 0.5s linear;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: scale(0);
  min-width: min(50vw, 80ch);
  padding: 0;
  box-shadow: 2.5px 2.5px 0px #25282a, 5px 5px 0px #25282a,
    7.5px 7.5px 0px #25282a, 10px 10px 0px #25282a, 12.5px 12.5px 0px #25282a,
    15px 15px 0px #25282a;
}
dialog::backdrop {
  opacity: 0.7;
  background-color: #f3d060;
  background-size: 100%, 50px 50px;
  background-image: radial-gradient(
      circle at bottom right,
      #f3c050c0 0%,
      #f3d060c0 50%
    ),
    repeating-linear-gradient(
      45deg,
      #1f2020 0,
      #1f2020 1.5px,
      #f3d060 0,
      #f3d060 50%
    );
}
dialog header {
  border-bottom: 3px solid;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  background-color: #25282a;
  color: #f9f6ef;
}
dialog .close .btn {
  border-radius: 50%;
  top: 5px;
  right: 10px;
  width: 3rem;
  height: 3rem;
  position: absolute;
  box-shadow: 2px 2px 0px #25282a;
  overflow: hidden;
  background-color: #a5282c;
  color: #f9f6ef;
  padding: 0;
}
#confirm-dialog {
  background-color: #ebebe3;
}
.dialog-message {
  border: 5px solid #1f2020;
}
/* contact form */
.form-container {
  padding-block: 1rem;
  padding-inline: 2rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  background-color: #f9f6ef;
  border: 3px solid #25282a;
  font-size: 1.3rem;
  padding: 0.3rem 0.5rem;
  position: relative;
  width: 100%;
}
input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid,
textarea:invalid {
  border-color: #a5282c;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
input[type="url"]:valid,
textarea:invalid {
  border-color: #aee1cd;
}

.rt-algn {
  display: flex;
  justify-content: end;
}

.fnt-sml {
  font-size: 0.9rem;
}

/* table */
.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}
.cell {
  padding: 0.3rem 0.5rem;
}
.cell-2 {
  grid-column: span 2;
}
.cell-4 {
  grid-column: span 4;
}
.cell-5 {
  grid-column: span 5;
}
.cell-6 {
  grid-column: span 6;
}

/* hero section */
.sctn-hero {
  position: relative;
  min-height: 60vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5em 0;
}
.hero-msg-primary {
  font-size: clamp(2rem, 5vw + 2rem, 7rem);
  line-height: 1;
  font-weight: 900;
  inline-size: min(140%, calc(100vw - 2rem));
  overflow-wrap: break-word;
  hyphens: manual;
  position: relative;
}

.hero-msg-tag {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}
.hero-flaire {
  position: absolute;
  inset: 0 auto;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center right;
  filter: drop-shadow(-2px 5px 0px #5eb0e5);
}

.hero-flaire svg {
  width: min(60%, calc(40vw + 50px));
  opacity: 0.9;
  transform: scaleX(-1);
}
.hero-actions {
  padding-top: 5em;
}

/* hero section */
.sctn-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 1rem;
}
.showcase-card {
  border: 3px solid #25282a;
  background-color: #5eb0e5;
  box-shadow: 5px 5px 0px #25282a;
  position: relative;
  transform: scale(1);
  transition: 200ms cubic-bezier(0.11, -0.25, 0.7, 1.22);
  transform-origin: bottom right;
}
.showcase-card:hover {
  transform: scale(1.01) translate(-3px, -3px);
  box-shadow: 8px 8px 0px #25282a;
  z-index: 5;
}

.showcase-card header {
  border-bottom: 2px solid #25282a;
  background-color: #a5282c;
  color: #f9f6ef;
  padding: 0.3rem 0.5rem;
  font-size: 0.65rem;
}
.showcase-card h2 {
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #f9f6ef;
  background-color: #1f2020;
  mix-blend-mode: screen;
  text-shadow: 2px 2px 0px #5eb0e5;
}
.showcase-card:nth-of-type(2n) header {
  background-color: #aee1cd;
  color: #1f2020;
}
.showcase-card img {
  height: 300px;
  overflow: hidden;
  border-bottom: 3px solid #25282a;
}
.showcase-card .card-info {
  padding: 0.5rem 1rem;
  position: relative;
}
.showcase-card:after {
  content: "\27A0";
  color: #f9f6ef;
  font-size: 2rem;
  line-height: 0, 3;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 2rem;
}
/* footer */
footer {
  padding-block: 3rem 1rem;
}

/* circle */
#circle {
  position: absolute;
  top: 0.8rem;
  left: 32rem;
  z-index: -10;
  pointer-events: none;
  width: 650px;
}

/* designing holidays section */
.sctn-designing-holidays {
  margin-top: 3rem;
  font-size: 1.5rem;
  border: 3px solid #25282a;
}

.sctn-designing-holidays h2 {
  margin: 0;
  background-color: #5eb0e5;
  padding: 1rem;
  border-bottom: 2px solid #25282a;
}

.sctn-designing-holidays .content {
  padding: 1rem;
  margin: 0;
  background-color: #ebebe3;
}
.sctn-designing-holidays p {
  margin: 0;
}
.sctn-designing-holidays p ~ p {
  margin-top: 1rem;
}
.sctn-designing-holidays ul {
  background-color: #aee1cd;
}
.sctn-designing-holidays li::marker {
  content: "\25BA  ";
  font-size: 1rem;
  animation: color-change 10s ease-in-out infinite alternate;
}